
<div style='background-color: brown ; width: 100vw;'>
        <ul style="display: inline-block;  width: 100%; ">
            <li style="list-style: none; display: inline;">
                jfdlkjdf
            </li>
            <li style="list-style: none; display: inline;">
                gdgfgdfd
            <li style="list-style: none;">
               fgdffdfdg
            </li>
            <li style="list-style: none; display: inline;">
                ffdf
            </li>
            <li style="list-style: none; display: inline;">
               fdgfdg
            </li>
        </ul>
</div>

