.main{
  background-color: var(--color4);
  padding: 1.875em;
  margin: 3.125em auto;
  max-width: 31.25em;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main h1 {
  font-size: 20px;
  text-align: center;
}
