<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto de Desenvolvimento</title>
    <link rel="stylesheet" href="./assets/styles/styleHome.css">
</head>
<body>
    <div class="header">
        <nav>
            <ul class="menu-list">
                <li><a href="http://">Home</a></li>
                <li><a href="http://">Projetos</a></li>
                <li><a href="http://">Explorar</a></li>
                <li><a href="http://">Testar</a></li>
                <li><a href="http://">Agendamento</a></li>
            </ul>
        </nav>
    </div>
   
</body>
</html>