.main{
  background-color: var(--color4);
  padding: 1.875em;
  margin: 3.125em auto;
  max-width: 31.25em;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main h1 {
  font-size: 20px;
  text-align: center;
}

.form{
  margin-top:  1.875em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"] {
  height: 40px;
  padding:  0 20px;
  font-size: 20px;
  border:  1px solid #ccc;
  min-width: 80%;
}

.form button[type="submit"]{
  border:none;
  height: 40px;
  width: 40px;
  background-color: var(--color5);
  color: var(--color4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.form button[type="submit"]:hover{
  color: var(--color2);
  background-color: var(--color3);
}

.tasks{
  margin-top:  1.875em;
}

.tasks li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em;
  transition: all 600ms;
  color: var(--color1)
}

.tasks li:hover{
  background: var(--color2);
  border-radius: 4px;
}

.tasks li .edit{
  margin-right: 1em;
  color: var(--color3);
}

.tasks li .close{
  margin-right: 1em;
  color: var(--color5);
}


.tasks li .edit:hover{
  color: var(--color4);
  cursor: pointer;
}

.tasks li .close:hover{
  color: var(--color4);
  cursor: pointer;
}

.task li span {
  display: flex;
  align-items: center;
}
